<%= link_to(image_element,
            solr_document_path(@collection_image_info[:pid])) %>
<div id="collection_img_caption">
  <%= link_to(image_title,
              solr_document_path(@collection_image_info[:pid])) %>
</div>