<ul class="bookmarkTools nav nav-pills">
  <li class="cite">
    <%= link_to t('blacklight.tools.citation'),
                citation_solr_document_path(:sort=>params[:sort],
                                      :per_page=>params[:per_page],
                                      :id => @response.documents.map {|doc| doc.id}),
                {:id => 'citeLink', :name => 'citation', :class => 'btn btn-default', :data => {:ajax_modal => 'trigger'}} %>
  </li>
  <li class="email">
    <%= link_to t('blacklight.tools.email'),
                email_solr_document_path(:sort=>params[:sort],
                                   :per_page=>params[:per_page],
                                   :id => @response.documents.map {|doc| doc.id}),
                :class => 'lightboxLink btn btn-default',
                :id => 'emailLink',
                :data => {:ajax_modal => 'trigger'} %>
  </li>
  <li>
    <%= link_to t('blacklight.bookmarks.clear.action_title'),
                clear_bookmarks_path,
                :method => :delete,
                :data => { :confirm => t('blacklight.bookmarks.clear.action_confirm') },
                :class => 'btn btn-default' %>
  </li>
</ul>