# stores contact emails for BPL and DC contacts

development:
  site_admin: site_admin_email_address@example.org
  image_requests: image_requests_email_address@example.org

test:
  site_admin: site_admin_email_address@example.org
  image_requests: image_requests_email_address@example.org

production:
  site_admin: site_admin_email_address@example.org
  image_requests: image_requests_email_address@example.org
