development:
  url: http://127.0.0.1:8983/fedora
test: &TEST
  url: <%= "http://127.0.0.1:#{ENV['TEST_JETTY_PORT'] || 8983}/fedora-test" %>
production:
  url: http://your.production.server:8080/fedora
