# stores Google Analytics web property id

development:
  web_property_id:
  web_property_id_ua_DEPRECATED:
  gtm_container_id:

test:
  web_property_id:
  web_property_id_ua_DEPRECATED:
  gtm_container_id:

production:
  web_property_id:
  web_property_id_ua_DEPRECATED:
  gtm_container_id:
