test:
  title: BPL Polaris Login
  http_uri: ####
  access_key: ####
  access_id: ####
  method: GET

development:
  title: BPL Polaris Login
  http_uri: ####
  access_key: ####
  access_id: ####
  method: GET

production:
  title: BPL Polaris Login
  http_uri: ####
  access_key: ####
  access_id: ####
  method: GET