# stores secret_key_base for config/initializers/secret_token.rb
# and secret_key for config/initializers/devise.rb

development:
  secret_key_base: yoursecretkey123456789abcdefghijklmnopqrstuvwxyz
  devise_secret_key: yourdevisesecretkey123456789abcdefghijklmnopqrstuvwxyz

test:
  secret_key_base:
  devise_secret_key:

production:
  secret_key_base:
  devise_secret_key:
