---
http_interactions:
- request:
    method: get
    uri: https://iiifdev.bpl.org/iiif/2/bpl-dev:h702q641c/info.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"@context":"http://iiif.io/api/image/2/context.json","@id":"https://iiifdev.bpl.org/iiif/2/bpl-dev:h702q641c","protocol":"http://iiif.io/api/image","width":1496,"height":2448,"sizes":[{"width":94,"height":153},{"width":187,"height":306},{"width":374,"height":612},{"width":748,"height":1224},{"width":1496,"height":2448}],"tiles":[{"width":748,"height":1224,"scaleFactors":[1,2,4,8,16]}],"profile":["http://iiif.io/api/image/2/level2.json",{"formats":["jpg","tif","gif","png"],"maxArea":500000000,"qualities":["bitonal","default","gray","color"],"supports":["regionByPx","sizeByW","sizeByWhListed","cors","regionSquare","sizeByDistortedWh","sizeAboveFull","canonicalLinkHeader","sizeByConfinedWh","sizeByPct","jsonldMediaType","regionByPct","rotationArbitrary","sizeByH","baseUriRedirect","rotationBy90s","profileLinkHeader","sizeByForcedWh","sizeByWh","mirroring"]}]}'
  recorded_at: Wed, 21 Oct 2020 20:32:38 GMT
recorded_with: VCR 6.0.0
