<div id="advanced_search_help">
  <h5>Advanced Search tips:</h5>
  <ul class="advanced_help">
    <li>Use quotation marks to search as a phrase.
    <li>Use "+" before a term to make it required.</li>
    <li>Use "-" before a word or phrase to exclude it.</li>
    <li>Use "OR", "AND", and "NOT"  within a search field to create complex boolean logic. You can also use parentheses.</li>
    <li>Truncation and wildcards are not supported (word-stemming is done automatically).</li>
    <li>For an open-ended date range limit (e.g. before 1850, after 1900, etc.) leave either the 'Start' or 'End' field blank in the 'Year' section.</li>
    <li>If a date range is entered in the form in the 'Year' section, undated items will not be included in the search results.</li>
    <li>If no boxes are checked in the 'Format' or 'Institution' limit, all values will be included.</li>
  </ul>
</div>