<div class="form-group facet_item blacklight-<%= facet_field.field.parameterize %>">
  <label class="control-label col-sm-2"><%= facet_field.label %></label>
  <div class="col-sm-8 facet_scrollbox_wrapper well">
    <div class="facet_limit_scrollbox col-sm-12">
      <%= yield %>
    </div>
  </div>
</div>
