<%# the banner for the carousel and search box %>
<div id="content_home_banner" class="row">

  <div id="carousel_wrapper" class="col-sm-6">
    <% if params[:controller] == 'catalog' %>
        <%= render :partial => 'pages/carousel', :locals => {:carousel_slides => carousel_slides} %>
    <% else %>
        <%= render :partial => 'pages/carousel', :locals => {:carousel_slides => @carousel_slides} %>
    <% end %>
  </div>

  <div id="hero_search" class="col-sm-6">
    <div id="hero_search_headline">
      <h2>
        <%= t('blacklight.home.banner.center_text') %>
      </h2>
    </div>
    <div id="hero_search_form">
      <%= render_search_bar %>
    </div>
  </div>

</div>