<div class="ocr_search_result">
  <span class="ocr_page_link"><%= render_page_link(document, @image_pid_list, params[:id]) %></span>
  <span class="ocr_snippet">... <%= render_index_field_value document, field: blacklight_config.ocr_search_field %> ...</span>
</div>