<% doc_presenter = index_presenter(document) %>
<div class="ocr_search_result">
  <dl class="row ocr_dl">
    <dt class="col-md-3">
      <span class="ocr_page_link">
        <%= render_page_link(document, @image_pid_list, params[:id]) %>
      </span>
    </dt>
    <dd class="col-md-9">
      <% if document[:term_freq] %>
        <div class="ocr_term_freq">
          <%= pluralize(compute_term_freq(document[:term_freq].to_i), t('blacklight.ocr.search.results.term_freq.start')) %>
        </div>
      <% end %>
      <div class="ocr_snippets">
        <%= doc_presenter.field_value(blacklight_config.index_fields[blacklight_config.ocr_search_field],
                                      {counter: document_counter_with_offset(document_counter)}) %>
      </div>
    </dd>
  </dl>
</div>
