<%# about this site %>
<div id="home_about">
  <h4><%= t('blacklight.home.about.title') %></h4>
  <p><%= t('blacklight.home.about.text') %></p>
  <p class="more-info-link text-end">
    <%= link_to 'Learn more >>', about_site_path %>
  </p>

  <%= openseadragon_picture_tag 'https://ark-dc3dev.bpl.org/ark:/50959/k3569c06m/manifest' %>
</div>
