/* styles for app/views/shared/footer */

footer {
  margin-top: 20px;

  #footer_logo {

    #footer_logo_link {
      background: transparent $footer_logo_image no-repeat top left;
      display: inline-block;
      height: 75px;
      overflow: hidden;
      text-indent: -200%;
    }

  }

}