/* styles for catalog#show view */

.show-document {

  #img_show_container {
    text-align: center;
    margin-bottom: 1em;

    #img_show_canvas {
      display: inline-block;
      position: relative;
      max-width: 100%;
      background-color: black;
      padding: 10px;

      #img_show_zoom_cue {
        position: absolute;
        right: 10px;
        top: 10px;
        color: white;
        border-radius: 20px;
        background-color: rgba(0, 0, 0, .2);
        box-shadow: 0 0 14px -4px #000000;

        .img_zoom_icon {
          font-size: 32px;
        }
      }

      .img_show {
        border: 1px solid lightgrey;
        width:auto;
        max-width:100%;
        max-height: 600px;
      }
    }
  }

  #img_viewer_modal {

    .modal-dialog {
      max-width: 98%;
      margin:10px auto;

      .modal-content {

        .modal-header {
          border-bottom: 0;
          padding: 3px 10px;
          text-align: left;
          height: 29px;
          overflow: hidden;

          .modal-title {
            font-weight: bold;
            width: 95%;
          }

        }

        #img_viewer_osd {
          background-color: black;
          margin: 0 5px;
          padding: 0;
          border: 1px solid gray;

          /* OSd navigator */
          .openseadragon-container > div.openseadragon-canvas + div + div {
            right: 3px !important;
            top: 3px !important;
          }

          /* OSd controls */
          .openseadragon-container > div.openseadragon-canvas + div + div + div {
            right: 3px !important;
            padding: 1px 1px 0 !important;
            border-radius: 5px 5px 0 0;
            background: rgb(17, 17, 17) !important; /* fallback for browsers w/o RGBa support */
            background: rgba(17, 17, 17, 0.4) !important;
          }

        }

        .modal-footer {
          border-top: 0;
          padding: 2px;
        }

      }

    }

  }

  #multi_img_show_container {
    margin-bottom: 1em;

    #multi_img_viewer_osd {
      background-color: black;
      height: 500px;
    }

  }

  #pdf_show_container {
    text-align: center;
    margin-bottom: 2em;
    margin-top: 2em;

    #pdf_show_canvas {
      max-width: 100%;

      #pdf_viewer {
        width: 90%;
        height: 800px;
        border: 1px solid darkgrey;
      }
    }
  }

  #audio_show_container {
    text-align: center;
    margin-bottom: 2em;
    margin-top: 2em;

    #audio_show_canvas {
      display: inline-block;
      position: relative;
      max-width: 100%;
      border-radius: 10px;
      background-color: lightgray;
      border: 1px solid darkgray;
      padding: 10px;

      #audio_player {
        width: 700px;
      }

      #audio_playlist {
        list-style-type: none;
        padding: 0 5px;
        margin-bottom: 0;

        li {
          text-align: left;
          padding: 5px;
        }

        li.active {
          background-color: lightgray;

          a {
            color: dimgrey;
          }
        }
      }
    }
  }

  div.show-tools {
    margin-bottom: 1em;

    #iiif-logo {
      height: 16px;
      width: 16px;
      vertical-align: text-top;
    }

    #iiif_manifest_info_icon {
      position: absolute;
      top: 15px;
      padding-left: 3px;
    }

  }

  #item_metadata {
    margin-bottom: 1em;

    #rs_icon {
      height: 1rem;
      vertical-align: -10%;
    }
  }

}
