/* styles for basic search (catalog#index with no search params) */

#basic_search_wrapper {
  margin-top:40px;

  #search_field {
    @media (max-width: breakpoint-max(md)) {
      width: 90px;
    }
  }

  .blacklight-icons > svg {
    height: 20px;
  }

}
