/* styles for basic search (catalog#index with no search params) */

#basic_search_wrapper {
  margin-top:20px;

  #basic_search_form {

    .twitter-typeahead {
      width: 45%;
      margin-right: 4px;
    }

    #q_basic {
      @include box-shadow(0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05));
      width: 100%;
    }

    #basic_search_indexes {
      text-align: left;
      text-shadow: none;
      width: 110px;
    }

  }

}

/* responsive styles */

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

  #basic_search_wrapper {

    #basic_search_form {

      #q_basic {
        width: 85%;
      }

      #basic_search_indexes, #search {
        margin: 10px 5px 0 0;
      }

    }

  }

}



