/* styles for basic search (catalog#index with no search params) */

#basic_search_form {
  margin-top:40px;

  #search_field {
    width: 107px;

    @media (max-width: breakpoint-max(md)) {
      width: 100px;
    }

    @media (max-width: breakpoint-max(xs)) {
      width: 100%;
      margin-bottom: 5px;
    }
  }

  .blacklight-icons > svg {
    height: 20px;
  }

  .submit-search-text {
    @media (max-width: breakpoint-max(xs)) {
      display: none;
    }
  }

  #fulltext_checkbox_wrapper {
    margin-top: 8px;

    #fulltext_info {
      cursor: pointer;
    }
  }

}
