/* styles for basic search (catalog#index with no search params) */

#basic_search_wrapper {
  margin-top:40px;

  //.twitter-typeahead {
  //  width: 45%;
  //  margin-right: 4px;
  //}

  #search_field {
    width: 80px;
  }

  .blacklight-icons > svg {
    height: 20px;
  }

}
