/* styles for book viewer */

html {
  height: 100%;
}

.universal-viewer {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden; // or else we get scrollbars

  #uv-header-navbar {
    display: block;
    padding: 10px 15px;
    margin-bottom: 0;

    #back_to_item_wrap {
      float: left;
      font-size: $font-size-sm;
      padding-right: 10px;
    }

    #uv-header-title {
      font-size: $font-size-base;
      width: max-content;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0;
    }
  }

  #uv-wrapper {
    flex: 1;
    overflow: hidden;
  }

  #uv {
    height: 100%;

    .centerPanel {

      .title {
        display: none;
      }

      .content {

        .attribution {
          display: none !important;
        }

      }

    }

  }

}
