/* styles for book viewer */

.wdl-viewer {
  min-width: 320px;
  min-height: 320px;
  height: 100%;
  overflow: hidden;
  background-color: black;

  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .hidden {
    display: none;
  }

  #viewer {
    background-color: $viewer_bg;
    height: 100%;
    width: 100%;
    font-size: large;
    text-align: center;

    header, footer {
      z-index: 10;
      width: 100%;
      background-color: #262626;
      background-color: rgba(20, 20, 20, 0.75);

      > nav {
        display: block;
        // border: 0px solid #369;

        > * {
          display: inline-block;
          overflow: hidden;
          font-size: 16px;

          &.hidden {
            display: none;
          }

        }

      }

      a {
        color: $bl_link;
      }

      button {
        min-width: 1.4em;
        margin: 0 2px;
      }

    }

    header {
      position: fixed;
      top: 0;
      box-shadow:0 5px 10px rgba(0,0,0,0.45);

      > nav {
        border-bottom-width: 2px;
        text-align: center;
        height: 34px;

        > h1 {
          //font-weight: bolder;
          max-width: 90%;
          white-space: nowrap;
          text-overflow: ellipsis;
          padding: 7px;
          margin: 0;

          a {
            color: $lighter_gray;
            margin-left:5px;

            &:hover {
              text-decoration: none;
              color: $bl_link;
            }

          }

        }

        > form {
          margin: 0 auto;
        }

      }

    }

    footer {
      position: fixed;
      bottom: 0;
      height: 34px;
      box-shadow:0 -2px 8px rgba(0,0,0,0.45);

      > nav {
        // border-top-width: 2px;
        // padding-top: 1px;
        /* fdSlider polyfill adjustments */

        > * {
          height: 28px;
          vertical-align: baseline;
        }

        #index, #fd-slider-index {
          display: inline-block;
          width: 240px;
        }

        #index {
          height: 28px;
          vertical-align: top;
          margin-top: 4px;
          padding: 0;

          &.fd-form-element-hidden {
            display: none;
            height: 0;
            width: 0;
          }

        }

        .current-index {
          width: 3em;
          height: 22px;
          padding-top:0px;
          color: $bootstrap_text;
        }

        #fd-slider-index {
          vertical-align: top;
          height: 28px;
          margin-top: 4px;
          padding: 0;
        }

        .controls button {
          margin-top:1px;

          &.btn-link {
            color: #F9F9F9;
          }

        }

      }

      .toolbar {
        color: #999999;
        white-space: nowrap;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;

        .index label {
          font-weight: normal;
        }

        i {
          font-size: 20px;
        }

        #toggle-help {
          margin-top: 0;

          i {
            font-size: 22px;
          }

        }

        .item-detail-nav {
          margin-right: 15px;
          padding-top: 5px;

          a:before {
            // content: "←";
          }

        }

        .page {
          color:#F9F9F9;

          &.disabled {
            color: #999999;
            text-decoration: none;
            cursor: default;
          }

          &.next:after {
            //content: "→";
          }

          &.previous:before {
            //content: "←";
          }

        }

        #toggle-search {
          color:#F9F9F9;
        }

      }

    }

    #viewport {
      display: table;
      width: 100%;
      height: 100%;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;

      #pages {
        display: table-cell;
        vertical-align: middle;
        padding: 0;

        > .page {
          display: inline-block;
          position: relative;
          max-height: 100vh;
          max-width: 100vw;
          margin: 0;

          + .page {
            margin-left: 10px;
          }

          .highlighted {
            position: absolute;
            z-index: 200;
            opacity: .25;
            background-color: $search_highlight;
            box-shadow: 0 0 4px 2px $search_highlight;
            border-radius: 3px;
          }

        }

      }

      #seadragon {

        /* OSd navigator */
        .openseadragon-container > div.openseadragon-canvas + div + div {
          right: 3px !important;
          top: 3px !important;
        }

        /* OSd controls */
        .openseadragon-container > div.openseadragon-canvas + div + div + div {
          bottom: 34px !important;
          right: 3px !important;
          border-radius: 5px 5px 0 0;
          background: rgb(17, 17, 17) !important; /* fallback for browsers w/o RGBa support */
          background: rgba(17, 17, 17, 0.4) !important;
          filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66111111, endColorstr=#66111111); /* for IE 5.5-7 */
          -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#66111111, endColorstr=#66111111)"; /* for IE8 */
        }

        .control {
          width: 35px;
          height: 34px;
          margin: 0;
          margin-bottom: 32px;
          background-repeat: no-repeat;
          overflow: hidden;
          font: 0/0 serif;
          text-shadow: none;
          color: transparent;
          text-decoration: none !important;
        }

      }

      #grid {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow-x: hidden;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        // background-color: #111;
        padding: 30px 0px;

        div {
          display: inline-block;
          height: 256px;
          width: 256px;
          overflow: hidden;
          line-height: 490px;
          margin: 8px;
          text-align: left;
          color: #737373;
          background-color: transparent;
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;

          &.current {
            outline: solid #336699 2px;
          }

          &.placeholder {
            background-size: auto;
          }

        }

      }

    }

  }

  #help {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    //font-size: x-large;

    > div {
      display: table;
      height: 100%;
      width: 100%;

      > div {
        display: table-row;

        > div {
          display: table-cell;
          vertical-align: middle;
        }

      }

    }

    h2 {
      //font-family: sans-serif;
      color: inherit;
    }

    i {
      margin-right: 5px;
    }

    p, table {
      font-size: 18px;
      max-width: 40em;
      margin: auto;
      color: #ddd;
    }

    th, td {
      vertical-align: top;
      padding: 0 1em;
      font-weight: normal;
    }

    td {
      text-align: left;

      &:lang(ar) {
        text-align: right;
      }

    }

  }

}

.no-history .wdl-viewer #viewer footer > nav #index, .no-history .wdl-viewer #viewer footer > nav #fd-slider-index {
  display: none;
}

.no-fullscreen .wdl-viewer {

  #viewer footer .toolbar #toggle-fullscreen {
    display: none;
  }

  .requires-fullscreen {
    display: none;
  }

}

.touch .wdl-viewer {

  #viewer #viewport #seadragon .control {
    display: none;
  }

  #help .keyboard-controls {
    display: none;
  }

}

.no-rgba .wdl-viewer #help {
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}

.no-touch .wdl-viewer #help .touch-controls {
  display: none;
}

.wdl-viewer #viewer[data-active-view=grid] .requires-rotation, .no-csstransforms .wdl-viewer #viewer[data-active-view=page] .requires-rotation, .no-canvas .wdl-viewer #viewer[data-active-view=seadragon] .requires-rotation, .no-canvas .wdl-viewer #help .requires-rotation, .touch .wdl-viewer .requires-rotation {
  display: none;
}


/* responsive styles */

@media screen and (max-width: 1024px) {

  .wdl-viewer #viewer footer > nav #index, .wdl-viewer #viewer footer > nav #fd-slider-index {
    display: none;
  }

}

@media screen and (max-width: 768px) {

  .wdl-viewer #viewer {
    font-size: small;
  }

  .wdl-viewer #viewer footer > nav #index, .wdl-viewer #viewer footer > nav #fd-slider-index {
    display: none;
  }

}

@media screen and (max-width: 600px) {

  .wdl-viewer #viewer #viewport #grid div {
    height: 128px;
    width: 128px;
    line-height: 240px;
  }

}

@media screen and (max-width: 480px) {

  .wdl-viewer {

    #viewer {

      header > nav > *, footer > nav > * {
        font-size: 12px;
        line-height: 18px;
        height: 24px;
      }

      header button, footer button {
        padding: 1px;
        //height: 18px;
        font-size: 16px;
      }

      footer {
        height: 24px;

        > nav {

          .current-index {
            // width: 2em;
          }

          .max-index, .max-index-label {
            display: none;
          }

          .controls button {
            height: 24px;
            margin-top: 0;
          }

          a.btn {
            padding:1px;
          }

        }

        .toolbar .item-detail-nav {
          // display: none;
          margin-right: 5px;
          padding-top: 0;

          .page {
            display: none;
          }

        }

      }

      #viewport {

        #seadragon {

          /* OSd controls */
          .openseadragon-container > div.openseadragon-canvas + div + div + div {
            bottom: 24px !important;
          }

        }

      }

    }

    #help {

      h2 {
        font-size: 20px;
      }

      h3 {
        font-size: 16px;
      }

      p, table {
        font-size: 12px;
      }

    }

  }

}