/* Site-wide style settings/variables for DigitalCommonwealth-based virtual local repositories. */
/* To override, declare variables in your_app/assets/stylesheets/commonwealth_vlr_engine.css.scss, */
/* putting any locally-declared variables before @import line, and removing !default */

$header_logo_image: 'commonwealth-vlr-engine/vlr_logo_img.png' !default;
$footer_logo_image: 'commonwealth-vlr-engine/vlr_logo_img.png' !default;

$very_dark_gray: #555555 !default;
$darker_gray: #666666 !default;
$dark_gray: #9E9E9E !default;
$light_gray: #CACACA !default;
$lighter_gray: #E6E6E6 !default;
$very_light_gray: #F1F1F1 !default;

$bootstrap_text: #333333 !default;

$bl_link: #428BCA !default;
$bl_link_hover: #005580 !default;

$well_bg_color: #F5F5F5 !default; // TODO: check if still used
$well_border_color: #E3E3E3 !default; // TODO: check if still used
$facets_border: #DDDDDD !default;
$constraints_bg_color: #E2EDFE !default;
$facets_active_border: #d6e9c6;

$navbarBorder: #D4D4D4 !default;

$dropdown-hover-background: #0081C2 !default;
$dropdown-hover-background-gradient-start:#0088CC !default;
$dropdown-hover-background-gradient-end: #0077B3 !default;

$error_text: #b94a48 !default;
$error_bg: #f2dede !default;
$error_border: #eed3d7 !default;

$viewer_bg: #111111 !default;
$search_highlight: yellow !default;

$font-size-xs: $font-size-base * .8 !default;
$padding-y-xs: .1rem !default;
$padding-x-xs: .4rem !default;

$btn-padding-y-xs: $padding-y-xs !default;
$btn-padding-x-xs: $padding-x-xs !default;
$btn-font-size-xs: $font-size-xs !default;

$input-padding-y-xs: $padding-y-xs !default;
$input-padding-x-xs: $padding-x-xs !default;
$input-font-size-xs: $font-size-xs !default;
$input-height-xs: add($input-line-height-sm * 1em, add($input-padding-y-xs * 2, $input-height-border, false)) !default;

@mixin rounded-corners($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow; // iOS <4.3 & Android <4.1
  box-shadow: $shadow;
}

@mixin card-esque($padding) {
  border-radius: $card-border-radius;
  background-color: $card-cap-bg;
  border: $card-border-width solid $card-border-color;
  padding: $padding;
}
