/* styles for collections views */

/* collections#index */

.item_az_links {
  margin-bottom: 10px;

  .az_link, .az_nolink, .az_active {
    padding-left:7px;
  }

  .az_nolink {
    color:$dark_gray;
  }

  .az_active {
    font-weight: bold;
  }

}

div.collections-list {

  /* don't display sort or view-type widgets */
  #sort-dropdown, .view-type {
    display: none;
  }

  #documents.documents-list {
    margin-top: 15px;

    .document {

      .document-thumbnail {
        min-width: 130px;

        img {
          max-height: 130px;
          max-width: 130px;
        }

      }

      .item_index_details {
        font-size: 13px;
      }

    }

  }

}

/* collections#show */

h2.collection-title {
  line-height:25px;
}

h4.collection-provenance {
  font-size: 17.5px;
  color: $dark_gray;
  font-weight: normal;
  line-height: 1;

  a {
    color: $darker_gray;
  }

  a:hover {
    color:$bl_link;
    text-decoration: none;
  }

}

#collection_img {
  float: left;
  width: 43%;
  margin: 0 1.4em 1.5em 0;

  img.collection_img_show {
    border: 1px solid $light_gray;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #collection_img_caption {
    font-size: 12px;
    padding-top: .3em;

    a, a:hover {
      color:$darker_gray;
      text-decoration: none;
    }

  }

}

#collection_search_tools {
  margin-bottom: 1em;
  width:54%;
  float:right;

  #collection_search_form {
    padding: 0 3px 0 0;
    float: left;

    input {
      width: 175px;
      border-bottom-left-radius: 4px;
      border-top-left-radius: 4px;
    }

    .submit-search-text {
      display: none;
    }

  }

  .collection_search_separator {
    display: inline;
    float: left;
    padding: 6px 6px 8px 3px;
    vertical-align: middle;
    color: $dark_gray;
  }

}


#collection_desc {

  ol,ul {
    display: inline-block;
  }

}

#series_wrapper {
  /* float:left; */
  clear: left;
  padding-top: 10px;

  .card {
    border: none;
    // box-shadow: none;

    .card-header {
      display: none;
    }

    #facet-related_item_series_ssim_thumb-list {
      display:block;

      .card-body {
        padding: 0;
      }

    }

  }

  #documents {

    .document {
      border: none;
      padding-bottom: 25px;
      margin-bottom: 10px;

      .thumbnail {
        border: none;
        height: 127px;

        img {
          max-height: 127px;
        }

        .caption {
          padding: 2px 5px;
          font-size: 12px;
        }

      }

    }

  }

}

#facets div.blacklight-related_item_series_ssim {
  display: none;
}

#blacklight-collection-map-container {
  clear: left;
  padding-top: 10px;

  #blacklight-index-map {
    height: 300px;
  }

}

#collection_metadata_wrapper {
  margin-top: 1.5em;
}

#item_metadata h4 {
  padding-left:1em;
}

/* responsive styles */

/* Large desktop */
@media (min-width: 1200px) {

  .item_az_links {

    .az_link, .az_nolink {
      padding-left:12px;
    }

  }

  #collection_search_tools {
    width:54%;
  }

  #series_wrapper {

    #documents {

      .document {

        .thumbnail {
          height: 159px;

          img {
            max-height: 159px;
          }

        }

      }

    }

  }

  #blacklight-collection-map-container {

    #blacklight-index-map {
      height: 400px;
    }

  }

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 991px) {

  .item_az_links {

    .az_link, .az_nolink {
      padding-left:1px;
    }

  }

  #collection_img {
    width: 100%;
    margin: 0 0 1em 0;
  }

  #collection_search_tools {
    width:97%;
    float:left;

    #collection_search_form {

      input {
        width: 100%;
      }

    }

  }

  #series_wrapper {

    #documents {

      .document {

        .thumbnail {
          height: 95px;

          img {
            max-height: 95px;
          }

        }

      }

    }

  }

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

  .item_az_links {

    .az_link, .az_nolink {
      padding-left:2px;
    }

  }

  #collection_img {
    width: 100%;
    margin: 0 0 1em 0;
    float: none;
  }

  #collection_search_tools {
    width:97%;
    float:none;

    #collection_search_form {
      width:289px;

      input {
        width: 100%;
      }

    }

  }

  #series_wrapper {
    display: none;
  }

  .blacklight-collection #facets {
    margin-top: 1em;

    div.blacklight-related_item_series_ssim {
      display: block;
    }

  }

}

/* Landscape phones and down */
@media (max-width: 480px) {

  #collection_search_tools {

    #collection_search_form {

      input {
        width: 100%;
      }

    }

    #collection_view_all {
      padding-top: 45px;
    }

  }

  #blacklight-collection-map-container {
    display:none;
  }

}

