/* styles for collections views */

/* collections#index */

.collections-list {

  #collections_results {

    #sortAndPerPage {
      @include card-esque(10px);

      #sort-dropdown, .view-type {
        display: none;
      }

    }

    #saveSearchLink {
      display: none;
    }

    #documents.documents-list {
      margin-bottom: 30px;

      .document {

        .document-thumbnail {
          min-width: 130px;

          img {
            max-height: 130px;
            max-width: 130px;
          }

        }

      }

    }

  }

  @media (max-width: breakpoint-max(md)) {
    flex-direction: column-reverse;
  }

}

/* collections#show */

h1.collection-title {
  line-height: 32px;
  margin-bottom: 10px;
}

h4.collection-provenance {
  font-size: 17.5px;
  color: $dark_gray;
  font-weight: normal;
  line-height: 1;

  a {
    color: $darker_gray;
  }

  a:hover {
    color:$bl_link;
    text-decoration: none;
  }

}

#collection_img {
  float: left;
  width: 33%;
  margin: 0 23px 20px 0;

  img.collection_img_show {
    border: 1px solid $light_gray;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #collection_img_caption {
    font-size: 12px;
    padding-top: .3em;

    a, a:hover {
      color:$darker_gray;
      text-decoration: none;
    }

  }

  @media (min-width: breakpoint-min(xl)) {
    width: 27%;
    padding-right: 32px;
  }

  @media (max-width: breakpoint-max(md)) {
    width: 50%;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  @media (max-width: breakpoint-max(md)) {
    width: 59%;
  }

}

#collection_search_tools {
  @include card-esque(10px);
  margin-bottom: 10px;
  float: right;
  display: flex;
  width: 64%;
  justify-content: center;

  .collection_search_separator {
    display: inline;
    padding: 6px 15px 8px 15px;
    vertical-align: middle;
    color: $dark_gray;

    @media (max-width: breakpoint-max(md)) {
      padding: 6px 10px 8px 10px;
    }
  }

  #collection_search_form {
    padding: 0 3px 0 0;

    input {
      width: 300px;
      border-bottom-left-radius: 4px;
      border-top-left-radius: 4px;

      @media (max-width: breakpoint-max(sm)) {
        width: 270px;
      }
    }

    .blacklight-icons > svg {
      height: 20px;
    }

  }

  @media (min-width: breakpoint-min(xl)) {
    width: 70%;
  }

  @media (max-width: breakpoint-max(md)) {
    width: 90%;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  @media (max-width: breakpoint-max(md)) {
    width: 100%;
  }

  @media (max-width: breakpoint-min(sm)) {
    flex-flow: column;
  }

}

#collection_desc {

  ol, ul {
    display: inline-block;
  }

  @media (max-width: breakpoint-max(md)) {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  @media (max-width: breakpoint-max(md)) {
    width: 100%;
  }

}

.hosted-collection {

  #collection_img {
    width: 100%;
  }

  #collection_search_tools {
    float: none;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    margin-bottom: 20px;

    @media (max-width: breakpoint-max(md)) {
      width: 100%;
    }
  }

  #collection_desc {
    float: none;
    width: 85%;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: breakpoint-max(md)) {
      width: 100%;
    }
  }
}

#collection_facets_wrapper {
  margin-top: 30px;

  #series_wrapper {

    .card {
      border: none;

      .card-header {
        display: none;
      }

      #facet-related_item_series_ssi_thumb-list {
        display:block;

        .card-body {
          padding: 0;
        }

      }

    }

    #documents {
      display: flex;
      flex-flow: row wrap;

      .document {
        border: none;
        margin-bottom: 15px;

        .thumbnail {
          border: none;

          img {
            max-width: 100%;
            max-height: 127px;

            @media (min-width: breakpoint-min(xl)) {
              max-height: 159px;
            }

            @media (max-width: breakpoint-max(md)) {
              max-height: 95px;
            }
          }

          .caption {
            padding: 2px 5px;
            font-size: 12px;
          }

        }

      }

    }

    @media (max-width: breakpoint-max(md)) {
      display: none;
    }

  }

}

#facets div.blacklight-related_item_series_ssi {
  display: none;

  @media (max-width: breakpoint-max(md)) {
    display: block;
  }
}

#blacklight-collection-map-container {

  #blacklight-index-map {
    height: 300px;

    @media (min-width: breakpoint-min(xl)) {
      height: 400px;
    }
  }

  @media (max-width: breakpoint-min(sm)) {
    display: none;
  }

}

.collections-sidebar {
  padding-top: 8px;

  @media (max-width: breakpoint-max(md)) {
    order: -1;
    margin-bottom: 25px;
  }
}
