/* styles for download popup modal */

#downloads_modal {

  ul.downloads_terms {
    padding-bottom: 10px;

    li {
      padding-top: 10px;
    }

  }

}

#downloads_modal_footer {
  text-align: left;
}