/* styles for facets and formats page */

body.blacklight-catalog-formats_facet {

  .facet-pagination.top {
    float: right;
    padding: 8px 0 0 0;
    margin-right: 16px;

    @media (max-width: breakpoint-max(xs)) {
      display: none;
    }
  }

  .prev_next_links {
    display: none;
  }

  .modal-header {
    padding: 0 15px 15px;
  }

}

#facets {

  @media (max-width: breakpoint-max(md)) {
    margin-bottom: 5px;
  }

  .facets-header {
    color: $card-cap-color;
    background-color: $card-cap-bg;
    border: $card-border-width solid $card-border-color;
    border-top-left-radius: $card-border-radius;
    border-top-right-radius: $card-border-radius;
    padding: 0.3rem 0.5rem;

    @media (max-width: breakpoint-max(md)) {
      border-bottom-left-radius: $card-border-radius;
      border-bottom-right-radius: $card-border-radius;
    }

    h2.facets-heading {
      font-size: $h5-font-size;
      margin-bottom: 0;
    }
  }

  .card {
    border-radius: 0;
    margin-bottom: 0;
    margin-top: 0;
    border-top: none;

    &:last-child {
      border-bottom-left-radius: $card-border-radius;
      border-bottom-right-radius: $card-border-radius;
    }

    &.facet-limit-active {
      border-color: $facets_active_border !important;
      border-radius: 0;

      .facet-field-heading {
        border-radius: 0;
        background-color: $facets_active_border !important;
      }

    }

    .card-body {
      border-top: none;
      padding: 5px 15px;

      .facet-values {
        font-size: $font-size-xs;
        line-height: 15px;
        padding-bottom: .5em;

        .facet-label {
          word-break: normal;
        }

      }

      .more_facets {
        font-size: $font-size-xs;
      }
    }

  }

  /* advanced search results facets */
  .advanced_facet_limit {

    .card-body {
      border-top: $card-border-width solid $card-border-color;
    }

    h5 {
      font-size: $h6-font-size;
    }
  }

  /* blacklight_range_limit */
  div.range_limit {

    input.range_begin, input.range_end {
      height: 25px;
    }

    input.submit {
      height: 25px;
      padding: 2px 6px 6px;
    }

    .view_larger {
      font-size: $font-size-xs;
    }

    .slider {

      &.slider-horizontal {

        & .slider-track {
          height: 7px;
          background-color: $light_gray;
          background-image: linear-gradient(to bottom, #d9d9d9, $very_light_gray);
          border-bottom: 1px solid #d9d9d9;
        }

        & .slider-handle {
          margin-left: -5px;
          background-color: $dark_gray;
          background-image: linear-gradient(to bottom, $dark_gray, $dark_gray)
        }

      }

    }

    .slider_js .slider-selection {
      background-color: $light_gray;
      box-shadow: none;
    }

    .slider-handle {
      height: 15px;
      width: 10px;
      opacity: 1;

      &.round {
        border-radius: 5px;
      }

    }

  }

}
