/* styles for facets and formats page */

body.blacklight-catalog-formats_facet {

  .facet_pagination.top {
    padding: 15px 15px 0;
  }

  .prev_next_links {
    display: none;
  }

  .modal-header {
    padding: 0 15px 15px;
  }

}

#facets {

  div.top-panel-heading {
    background-color: #F5F5F5;
    padding: 10px 15px 0;
    border: 1px solid $facets_border;

    h4 {
      margin-top: 0;
    }

  }

  h5 {
    font-size: 14px;
  }

  .panel {
    border-radius: 0;
    margin-bottom: 0;
    margin-top:0;
    border-top:none;

    &:last-child {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    .panel-body {
      border-top: none;
      padding: 5px 15px;
    }

  }

  li {
    font-size: 13px;
    line-height:15px;
    padding-bottom: .5em;
  }

  .facet-values .facet-label {
    word-break: normal;
  }

  /* advanced search results facets */
  .advanced_facet_limit ul {
    border-bottom: medium none;
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 4px;
  }

  .facet_limit .inclusive_or h4 {
    margin-bottom: 0;
    margin-left: 3px;
    font-size: 12px;
  }

  /* blacklight_range_limit */
  .range_limit {
    margin-bottom: 10px;

    form.range_limit {
      line-height: 2;
    }

    input.range_begin, input.range_end {
      height: 25px;
      padding: 6px;
      width: 46px;
    }

    input.submit {
      height: 25px;
      padding: 2px 6px 6px;
      margin-left: 3px;
    }

    .slider {
      margin-left: 5px;

      &.slider-horizontal {

        & .slider-track {
          height: 7px;
          background-color: $light_gray;
          background-image: linear-gradient(to bottom, #d9d9d9, $lighter_gray);
          border-bottom: 1px solid #d9d9d9;
        }

        & .slider-handle {
          margin-left: -5px;
          background-color: $dark_gray;
          background-image: linear-gradient(to bottom, $dark_gray, $dark_gray)
        }

      }

    }

    .slider_js .slider-selection {
      background-color: $light_gray;
      box-shadow: none;
    }

    .slider-handle {
      height: 15px;
      width: 10px;
      opacity: 1;

      &.round {
        border-radius: 5px;
      }

    }

    .distribution {
      margin-left: -8px;
    }

  }

}

/* responsive styles */

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 991px) {

  #facets {

    div.top-panel-heading {
      margin-bottom: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    /* so facets don't overflow container div */
    .facet-values .facet-label {
      padding-left: 5px;
      padding-right: 2px;
      text-indent: -5px;
      max-width: 105px;
    }

  }

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

  #sidebar, #facets {
    padding-bottom: 0;
  }

  #facets {

    div.top-panel-heading {
      padding: 2px 15px;
      margin-bottom: 3px;

      h4 {
        margin-top: 10px;
      }

    }

  }

}

