/* styles for feedback form */

#contact_content {

  .col-form-label {
    text-align: right;

    @media (max-width: breakpoint-max(sm)) {
      text-align: left;
    }

  }

  #feedback_recaptcha {
    margin-bottom: 15px;
  }

}

#contact_help_text {
  display: none;

  i {
    float: left;
    padding: 5px 10px 0 0;
  }

}