/* styles for folder views */

/* don't use fixed navbar on bookmark/folder pages */

body.blacklight-folders, body.blacklight-bookmarks {

  /* don't show useless 'relevance' sort option in folders */
  #sort-dropdown ul.css-dropdown li.btn ul li:first-child {
    display: none;
  }

}

#add_folder {
  float: right;
}

#user_folders {

  #folder_actions_wrapper {
    float: right;
  }
  /*
  #create_folder_link{

  }
  */
  h3 small {
    margin-left: 30px;
    vertical-align: middle;
  }

  #user_folder_list {
    padding-top:0px;

    h4 {
      margin:15px 0 0 0;

      .folder_visibility {
        margin-left:5px;
      }

    }

    div.folder_status {
      color: $dark_gray;
      font-size: 12px;

      .folder_item_count {
        display: inline-block;
        width: 55px;
      }

    }

  }

  #user_folder_list.public_folders {

    small.folder_visibility {
      display:none;
    }

  }

}

#public_folders_sidebar {
  margin-top: 42px;

  ul {
    padding: 20px 0 10px 20px;
  }

}

.folder_visibility {
  display:inline;

  i {
    opacity: .7;
  }

  .visibility_private {
    color: $dark_gray;
  }

  .visibility_public {
    color: green;
  }

}

#edit_folder_form {

  .required_field_indicator {
    color: red;
  }

  label.control-label {
    font-weight: bold;
  }
}

div.folder_show_container {

  h2 {
    margin-bottom:0px;

    #folder_tools {
      float: right;
      margin-top: 5px;

      div.folder_visibility {
        margin-right:5px;
        font-size: 14px;
      }

    }

  }


  #folder_description {
    font-size: 16px;
  }

  #empty_folder {
    margin-top:20px;
  }

  #sortAndPerPage {
    margin: 10px 0;

    a.view-type-maps {
      display: none;
    }

    a.clear-bookmarks {
      display: none;
    }

  }

  #folderItemTools {
    display: inline;

    ul.folderItemToolsList {
      /* @include rounded-corners(0 0 4px 4px); */
      background-color: $well_bg_color;
      border-color: $well_bg_color;
      margin:0;
      display: inline;
      padding-left: 0;

      li {
        display:inline-block;
      }

      li form {
        display:inline;
      }

    }

  }

  #copy_folder_item_control {

    /* mimic bootstrap button dropdown groups */
    button.copy_btn {
      color: #333333;
      line-height: 20px;
      padding: 3px 20px;
      white-space: nowrap;
      border: 0;
      background: none;
      width: 100%;
      text-align: left;

      &:hover {
        background-color: #0081C2;
        background-image: linear-gradient(to bottom, #0088CC, #0077B3);
        background-repeat: repeat-x;
        color: #FFFFFF;
      }

    }

  }

  #documents {
    margin-top: 10px;

    /* list view */
    &.documents-list {

      .document {

        .documentHeader {

          .document-title-heading {
            width: 95%;
          }

          .folder_item_checkbox {
            float: right;
            margin-top: 0;
          }

        }

      }

    }

    /* gallery view */
    &.gallery {

      .document {

        .thumbnail {

          .caption {

            .documentHeader {

              .folder_item_checkbox {
                float: left;
                margin-top: 10px;
              }

              .document-title-heading {
                width: 93%;
                padding-left: 5px;
              }

            }

          }

        }

      }

    }

    /* masonry view */
    .masonry {

      &.document {

        .thumbnail {

          .caption {

            .documentHeader {

              .document-title-heading {
                margin-top: 0;
              }

            }

          }

        }

      }

    }

  }

}

