/* styles for app/views/shared/footer */

#footer {
  border-top: 1px solid $light_gray;
  margin-top: 2em;
  margin-bottom: 0.5em;
  padding: 0.5em 1em 0.7em;
  background-color: #1b1b1b;
  background-image: -moz-linear-gradient(top, #E6E6E6, #BFBFBF);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#E6E6E6), to(#BFBFBF));
  background-image: -webkit-linear-gradient(top, #E6E6E6, #BFBFBF);
  background-image: -o-linear-gradient(top, #E6E6E6, #BFBFBF);
  background-image: linear-gradient(to bottom, #E6E6E6, #BFBFBF);
  background-repeat: repeat-x;
  border-color: #E6E6E6;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffE6E6E6', endColorstr='#ffBFBFBF', GradientType=0);
  @include rounded-corners(5px);

  #footer_logo {
    float: left;

    .footer-logo {
      -moz-opacity: 0.50;
      opacity: 0.50;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    }

  }

  #footer_address {
    float: right;
    text-align: right;
    font-size: 12px;
    color: $dark_gray;
    line-height: 15px;
  }

}