/* styles for views/shared/header_navbar */

#header-navbar {
  border-bottom: 1px solid #d4d4d4;

  .navbar-logo {
    @if $header_logo_image {
      background: transparent $header_logo_image no-repeat top left;
    }

    @if $header_logo_image {
      // deprecated
      background: transparent image_url($header_logo_image) no-repeat top left;
    }

    height: 74px;
    width: 200px;
    flex: 0 0 200px;
  }

  #user-nav-collapse {
    flex-wrap: wrap;

    #user-util-links {
      display: flex;
      font-size: $font-size-xs;
      width: 100%;

      @media (max-width: breakpoint-max(sm)) {
        flex-wrap: wrap;
        margin-top: 20px;
      }

      #util-links-nologin {
        margin-top: 3px;

        @media (max-width: breakpoint-max(sm)) {
          width: 100%;
        }
      }

      #user-nav-btn {
        margin-bottom: 14px;

        #user-util-links-list {

          a {
            padding: 3px 15px;
            font-size: $font-size-xs;
          }

        }

        @media (max-width: breakpoint-max(sm)) {
          margin-right: 160px;
          z-index: 1001;
        }
      }

      #header-search {
        padding-left: 20px;

        input {
          width: 120px;
          @include border-right-radius(0);
        }

        .blacklight-icons {

          svg {
            width: 16px;
            height: 16px;
          }

        }

        @media (max-width: breakpoint-max(sm)) {
          padding-left: 0;
        }

      }

    }

    #header_main_nav {

      li.nav-item {

        a.nav-link {
          padding-right: 65px;
        }

      }

      li.nav-item.last_nav {

        a.nav-link {
          padding-right: 5px;
        }

      }

      .dropdown-menu {
        z-index: 1002; /* to cover home page search bar */
        margin-top: 0;
      }

    }

  }

}
