/* styles for home page view */

#content_home {

  #hero_search {
    padding: 30px 50px;
    height: 235px;
    margin-bottom: 0;

    #hero_search_headline {

      h1 {
        font-size: $h3-font-size;

        @media (min-width: breakpoint-min(xl)) {
          font-size: $h2-font-size;
        }

        @media (max-width: breakpoint-max(md)) {
          font-size: $h4-font-size;
        }
      }

      @media (min-width: breakpoint-min(xl)) {
        margin-top: 25px;
      }

    }

    #hero_search_form {
      padding-top: 15px;

      #search_field {
        display: none;
      }

      #fulltext_checkbox_wrapper {
        display: none;
      }

      .search-q {
        border-top-left-radius: $border-radius !important;
        border-bottom-left-radius: $border-radius !important;
        width: 230px;

        @media (min-width: breakpoint-min(xl)) {
          width: 100%;
        }

        @media (min-width: breakpoint-min(md)) and (max-width: breakpoint-max(md)) {
          width: 226px;
        }

        @media (max-width: breakpoint-min(md)) {
          width: 100%;
        }
      }

      .blacklight-icons > svg {
        height: 20px;
      }

      @media (max-width: breakpoint-max(md)) {

        .submit-search-text {
          display: none;
        }

      }

      @media (min-width: breakpoint-min(md)) and (max-width: breakpoint-max(md)) {
        padding-top: 10px;
      }

    }

    @media (min-width: breakpoint-min(xl)) {
      height: 288px;
    }

    @media (min-width: breakpoint-min(md)) and (max-width: breakpoint-max(md)) {
      height: 179px;
      padding: 15px 20px;
    }

    @media (max-width: breakpoint-min(md)) {
      padding: 50px;
    }

  }

  #content_home_browse {
    margin-top: 50px;

    div.browse_item {

      a.browse_icon_link {
        color: $dark_gray;
      }

      img.browse_img {
        width:120px;
        border: 1px solid $light_gray;
        margin-bottom: 10px;
      }

      h4 {
        font-size: $h5-font-size;
      }

      .browse_item_desc {
        color: $darker_gray;
      }

    }

  }

  #content_home_context {
    margin-top: 30px;

    #content_home_news li {
      padding-bottom: .5em;
    }

    .more-info-link {
      padding-right: 1em;
    }

  }

}