/* styles for index views */

#search_mode_tabs {

  li > a.active {
    font-weight: bold;
  }

}

#appliedParams {

  .constraints-label {
    font-size: $font-size-sm;
  }

  .card-body {
    padding: 1.25rem .5rem;
  }

  .applied-filter {
    margin: 1px 0;

    .constraint-value, .remove {
      background-color: $constraints_bg_color;
    }

    .remove {
      padding: 0.4rem 0.5rem 0 0.2rem;
    }

  }

  #start_over_wrapper {
    float: right;

    @media (max-width: breakpoint-max(sm)) {
      display: none;
    }

  }

}

#sortAndPerPage {

  .page-links {
    font-size: $font-size-sm;
  }

  .btn {
    padding: 0.375rem 0.3rem;
    font-size: $font-size-sm;

    &.btn-icon {
      padding: 0.25rem 0;
    }
  }

}

#documents {

  /* generic all-purpose catalog#index stuff */

  .document {

    .documentHeader {

      .document-counter {
        display: none;
      }

    }

    img {
      border: 1px solid $light_gray;

      &.index-title-icon {
        border: none;
        padding-left: 3px;
        display: inline;
        width: 20px;
      }

    }

  }

  /* catalog#index list view */
  &.documents-list {

    .document {
      border-bottom: 1px solid $light_gray;
      margin-top: 10px;

      .document-thumbnail {
        float: left;
        padding: 0;
        min-width: 250px;

        @media (max-width: breakpoint-max(lg)) {
          min-width: 200px;
        }

        img {
          height: auto;
          width: auto;
          max-height: 250px;
          max-width: 250px;

          @media (max-width: breakpoint-max(lg)) {
            max-height: 200px;
            max-width: 200px;
          }

          @media (max-width: breakpoint-max(sm)) {
            max-height: 300px;
            max-width: 300px;
          }

          //&.index-title-icon {
          //  width: 20px;
          //}

        }

      }

      .documentHeader {
        float: left;
        padding: 0 0 0 20px;
        width: 65%;

        @media (max-width: breakpoint-max(sm)) {
          width: 100%;
        }

        .document-title-heading {
          font-size: $font-size-base;
          margin: 0 0 3px 0;
        }

      }

      dl.document-metadata {
        padding: 10px 0 0 20px;
        float: left;
        width: 65%;
        font-size: $font-size-sm;

        @media (max-width: breakpoint-max(sm)) {
          width: 100%;
        }

        dt, dd {
          color: $darker_gray;
        }

      }

      // also applies to collections#index
      &.blacklight-collection {

        .documentHeader {
          width: 60%;
        }

        .collection_view_all_link {
          float:right;
          font-size: $font-size-xs;

          a {
            color: $dark_gray;
            &:hover {
              color: $bl_link;
              text-decoration: none;
            }
          }

        }

        .collection_index_container {
          float: left;
          width: 65%;
          margin: 0 0 10px 20px;

          .collection-location a {
            color: $darker_gray;
            &:hover {
              color: $bl_link;
              text-decoration: none;
            }
          }

          .item_index_details {
            font-size: $font-size-sm;
          }

        }

      }

    }

  }

  /* gallery view */
  &.gallery {

    .document {
      min-height: 250px;
      min-width: 250px;
      margin-bottom: 40px;

      @media (max-width: breakpoint-max(lg)) {
        min-height: 200px;
        min-width: 200px;
      }

      @media (max-width: breakpoint-max(sm)) {
        min-width: 300px;
      }

      .thumbnail {
        border: none;

        img {
          height: auto;
          width: auto;
          max-height: 250px;
          max-width: 250px;

          @media (max-width: breakpoint-max(lg)) {
            max-height: 200px;
            max-width: 200px;
          }

          @media (max-width: breakpoint-max(sm)) {
            max-height: 300px;
            max-width: 300px;
          }

          &.index-title-icon {
            width: 20px;
          }

        }

        .document-title-heading {
          font-size: $font-size-sm;
        }

      }

    }

  }

}