/* styles for institution views */

/* institutions index view (see shared.css for static-navbar) */

div.institutions-list {

  .item_az_links {
    font-size: $font-size-sm;
    border-radius: $card-border-radius;
    background-color: $card-cap-bg;
    border: $card-border-width solid $card-border-color;
    padding: 9px;
  }

  #sortAndPerPage {
    margin-bottom:0;

    /* don't display sort widget */
    #sort-dropdown {
      display: none;
    }

  }

  #documents {
    margin-top: 15px;
    margin-bottom: 25px;

    .blacklight-institution {
      margin-bottom: 10px;
      padding-bottom: 10px;

      .document-thumbnail {
        display: none;
      }

      .documentHeader {
        padding-left: 0;
      }

      .document-metadata {
        display: none;
      }

    }

  }

  #institutions-index-map {
    height: 550px;
    margin: 10px 0;

    & ~ div.record-padding {

      div.pagination {
        display: none;
      }

    }
  }



}

/* institutions show view */

div.blacklight-institution {

  h2 {
    margin-bottom: 0;
  }

  #institution_geolocation {
    padding-bottom: 15px;
    color: $dark_gray;

    a {
      color: $darker_gray;
      &:hover {
        color: $bl_link;
        text-decoration: none;
      }
    }

    .metadata_breadcrumb {
      padding: 0 5px;
    }

  }

  img.institution_img_show {
    float: left;
    max-width: 25%;
    margin: 0 20px 20px 0;
    border: 1px solid $light_gray;

    @media (max-width: breakpoint-min(sm)) {
      max-width: 35%;
    }
  }

  #institution_search_tools {
    border-radius: $card-border-radius;
    background-color: $card-cap-bg;
    border: $card-border-width solid $card-border-color;
    margin-bottom: 20px;
    width: 72%;
    float: right;
    padding: 10px;

    #institution_view_all {
      float: left;
    }

    .institution_search_separator {
      float: left;
      padding: 6px 15px 8px 12px;
      color: $dark_gray;

      @media (max-width: breakpoint-max(md)) {
        padding-right: 10px;
        padding-left: 7px;
      }

    }

    #institution_search_form {

      input {
        width: 255px;
        border-bottom-left-radius: $border-radius;
        border-top-left-radius: $border-radius;

        @media (min-width: breakpoint-min(xl)) {
          width: 290px;
        }

        @media (max-width: breakpoint-max(md)) {
          width: 278px;
        }

        @media (max-width: breakpoint-min(sm)) {
          width: 270px;
        }

      }

      .blacklight-icons > svg {
        height: 20px;
      }

    }

    @media (max-width: breakpoint-max(md)) {
      width: 100%;
    }

    @media (max-width: breakpoint-min(sm)) {
      display: flex;
      flex-flow: column;
    }

  }

  #institution_desc_wrap {

    ol, ul {
      display: inline-block;
    }

    #institution_desc_static {
      margin-bottom: 20px;
    }

    .institution_desc_inline {
      display: inline;
      margin-bottom: unset;
    }

    .institution_desc_expand {
      display: inline;
      margin-left: 7px;
    }

    #institution_site_link_wrap {
      margin-top: 15px;

      ul {
        padding-left: 20px;
      }

    }

  }

  #institution_collections {
    width: 100%;
    float: left;
    margin-top: 16px;

    #collections_count {
      font-size: $font-size-sm;
      color: $dark_gray;
      vertical-align: middle;
    }

    #documents.collections-gallery {

      .masonry {

        &.document {
          background-color: inherit;
          padding: 5px;
          margin: 0;

          .thumbnail {
            border: 1px solid $dark_gray;
            overflow: hidden;
            border-radius: $border-radius-lg;
            height: 221px;

            a {

              img { // don't remove commented-out below until further testing
                margin-left: auto;
                margin-right: auto;
                display: block;
                border: none;
                // height: auto;
                // width: auto;
                max-height: 221px;
                max-width: 231px;
                position: relative;
                top: 109px; // would rather use 50% but doesn't work in Chrome
                transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -moz-transform: translateY(-50%);

                @media (min-width: breakpoint-min(xl)) {
                  top: 135px;
                  max-height: 271px;
                  max-width: 275px;
                }

                @media (max-width: breakpoint-max(md)) {
                  top: 84px;
                  max-height: 170px;
                  max-width: 170px;
                }

              }

            }

            .caption {
              display: block;
              left: 5px;
              right: 5px;
              width: auto;
              bottom: 5px;
              border-bottom-left-radius: $border-radius-lg;
              border-bottom-right-radius: $border-radius-lg;
              background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.45) 27%, rgba(0,0,0,0.45) 100%);

              h3 {
                font-size: $font-size-base;
                margin-bottom: 3px;
                margin-top: 3px;

                a:hover {
                  text-decoration: none;
                }

              }

            }

            @media (min-width: breakpoint-min(xl)) {
              height: 271px;
            }

            @media (max-width: breakpoint-max(md)) {
              height: 170px;
            }

          }

        }

      }

    }

    @media (max-width: breakpoint-max(md)) {
      margin-bottom: 30px;
    }

  }

}
