/* styles for 'Search inside' modal popup */

#ocr_search_modal {
  padding-bottom: 2px;

  #ocr_search_wrapper {
    min-height: 35px;

    #ocr_search_form_wrapper {
      width: 50%;
      display: inline-block;
      margin-bottom: 10px;

      .ocr-search-form {

        .search_q {
          border-top-left-radius: $border-radius;
          border-bottom-left-radius: $border-radius;
        }

        .blacklight-icons > svg {
          height: 20px;
        }

      }

      @media (max-width: breakpoint-max(md)) {
        width: 75%
      }

    }

    #zero_results_ocr {
      margin-top: 10px;
      padding-bottom: 10px;

      h5 {
        font-weight: bold;
      }

    }

    #ocr_search_suggest {
      padding-bottom: 10px;
    }

    #ocr_search_details {
      border-radius: $card-border-radius;
      background-color: $card-cap-bg;
      border: $card-border-width solid $card-border-color;
      padding: 5px 10px;
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;
      flex-flow: row wrap;
      align-items: center;

      #ocr_search_terms {
        height: fit-content;

        #ocr_search_term {
          color: $very_dark_gray;
        }

      }

      #sort-dropdown {
        align-self: end;
        margin-top: 4px;

        button {
          padding: 2px 5px;
        }
      }

    }

    #ocr_search_results {

      .ocr_search_result {
        margin-bottom: 12px;

        .ocr_dl {

          dt {
            text-align: left;
            font-weight: normal;
          }

          dd {

            .ocr_term_freq {
              font-size: $font-size-xs;
              color: $very_dark_gray;
              display: inline;
            }

            .ocr_snippets {
              font-size: $font-size-sm;
              display: inline;

              .ocr_snippet {
                padding-top: 3px;

                em {
                  background-color: $search_highlight;
                  box-shadow: 0 0 4px 2px $search_highlight;
                }

              }

              .first_snippet {
                display: inline;
              }

              a.ocr_snippets_expand {
                display: block;
                color: $dark_gray;
                font-size: $font-size-xs;
                margin-top: 2px;

                &:hover {
                  color: $bl_link
                }

                &:focus {
                  // outline: none;
                  text-decoration: none;
                }

              }

            }

          }

        }

      }

    }

  }

}

#ocr_modal_footer {
  justify-content: center;
}
