/* styles for 'Search inside' modal popup */

#ocr_search_modal {
  padding-bottom: 2px;

  #ocr_search_wrapper {
    min-height: 35px;

    #ocr_search_form_wrapper {
      width: 50%;
      display: inline-block;
      margin-bottom: 10px;

      .ocr-search-form {

        .search_q {
          border-radius: 4px 0 0 4px;
        }

        .submit-search-text {
          display: none;
        }

      }

    }

    #zero_results_ocr {
      margin-top: 10px;
      padding-bottom: 10px;

      h5 {
        font-weight: bold;
      }

    }

    #ocr_search_suggest {
      padding-bottom: 10px;
    }

    #ocr_search_details {
      width: 100%;
      float: left;
      padding: 4px 9px;

      #ocr_search_terms {
        float: left;
        padding-top: 4px;

        #ocr_search_term {
          color: $very_dark_gray;
        }

      }

      #sort-dropdown {
        float: right;

        button {
          padding: 2px 5px;
        }
      }

      .page_links {
        float: right;
        padding: 4px 15px 0 0;
        border: none;
      }

    }

    #ocr_search_results {

      .ocr_search_result {
        margin-bottom: 12px;

        .ocr_dl {

          dt {
            text-align: left;
            //width: 72px;
            font-weight: normal;
          }

          dd {
            //margin-left: 77px;

            .ocr_term_freq {
              font-size: 12px;
              color: $very_dark_gray;
              display: inline;
            }

            .ocr_snippets {
              font-size: 13px;
              display: inline;

              .ocr_snippet {
                padding-top: 3px;

                em {
                  background-color: $search_highlight;
                  box-shadow: 0 0 4px 2px $search_highlight;
                }

              }

              .first_snippet {
                display: inline;
              }

              a.ocr_snippets_expand {
                display: block;
                color: $dark_gray;
                font-size: 12px;
                margin-top: 2px;

                &:hover {
                  color: $bl_link
                }

                &:focus {
                  // outline: none;
                  text-decoration: none;
                }

              }

            }

          }

        }

      }

    }

  }

}

#ocr_pagination {

  #pagination_links {
    margin: 0;

    ul.pagination {
      margin: 0;
    }

  }

}

/* Landscape phone to portrait tablet (iPad) */
@media (max-width: 767px) {

  #ocr_search_modal {

    #ocr_search_wrapper {

      #ocr_search_form_wrapper {
        width: 75%;
      }

    }

  }

}