/* styles for 'Search inside' modal popup */

#ocr_search_modal {
  padding-bottom: 2px;

  #ocr_search_wrapper {
    min-height: 35px;

    #ocr_search_form_wrapper {
      width: 50%;
      display: inline-block;
      margin-bottom: 10px;

      .ocr-search-form {

        .search_q {
          border-radius: 4px 0 0 4px;
        }

        .submit-search-text {
          display: none;
        }

      }

    }

    #zero_results_ocr {
      margin-top: 10px;
    }

    #ocr_search_details {
      width: 100%;
      float: left;

      #ocr_search_terms {
        float: left;

        #ocr_search_term {
          color: $very_dark_gray;
        }

      }

      .page_links {
        float: right;
        padding: 0;
        border: none;
      }

    }

    #ocr_search_results {

      .ocr_search_result {
        margin-bottom: 12px;

        .ocr_snippet {
          font-size: 13px;
        }

      }

    }

  }

}

#ocr_pagination {

  #pagination_links {
    margin: 0;

    ul.pagination {
      margin: 0;
    }

  }

}

/* Landscape phone to portrait tablet (iPad) */
@media (max-width: 767px) {

  #ocr_search_modal {

    #ocr_search_wrapper {

      #ocr_search_form_wrapper {
        width: 75%;
      }

    }

  }

}