/* styles for show view */

#flagged_warning {

  .modal-dialog {
    margin: 150px auto;

    h4.modal-title {
      font-weight: bold;
    }

    .modal-body {
      font-size:20px;
      padding: 20px 100px;
    }

  }

}
/*
.modal-backdrop.in, .no-js #sidebar .modal-backdrop.collapse {
  opacity: 0.86;
}
*/
#previousNextDocument, .pagination-search-widgets {
  margin-top: 7px;
  @include rounded-corners(3px);
  @include box-shadow(0 1px 1px rgba(0, 0, 0, 0.05) inset);
  padding: 0 0 0 7px;
  background-color: #F5F5F5;
  border: 1px solid #E3E3E3;
}

#item_breadcrumb {
  font-size: 13px;
  color: $light_gray;

  a {
    color: $dark_gray;
  }

  a:hover {
    color:$bl_link;
    text-decoration: none;
  }

  .icon-arrow-right {
    -moz-opacity: 0.17;
    opacity: 0.17;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=17)";
  }

  .item-breadcrumb-separator {
    margin: 0 .5em;
  }

}

#document h1 {
  margin-top:10px;
}

#multi_img_show_container {

  #page_sequence_wrapper {
    padding: 3px 7px 2px 7px;
    margin-bottom: 15px;
    text-align: left;

    #page_sequence {
      color: $dark_gray;
      font-size: 12px;

      #page_sequence_pagination {
        display: inline;
        float: right;

        a {
          margin-left: 10px;
        }

      }

    }

  }

  #thumbnail_list_wrapper {
    padding: 10px;
    //overflow-y: auto;
    //position: relative;

    #thumbnail_list {
      max-height: 600px;
      min-height: 200px;
      overflow-y: auto;
      margin-bottom: 0px;
      text-align: center;
      -webkit-overflow-scrolling:touch;
      display: block;
      position: relative;

      li {
        padding-bottom: 15px;

        a {

          img {
            border: 1px solid $light_gray;
            max-width: 94%;
            max-height:180px;
          }

        }

        a.in_viewer {

          img {
            border: 2px solid $darker_gray;
            box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.4);
          }

        }

      }

    }

  }

}

#multi_img_pane {
  margin-bottom: 20px;
}

#img_show_container {
  //height: 100%;
  width:100%;
  text-align: center;
  margin-bottom: 1em;

  #loading {
    position: relative;
    top: 150px;
  }

  img.img_show {
    border: 1px solid $light_gray;
    width:auto;
    max-width:100%;
    //height: 100%;
    max-height: 600px;
  }

  .carousel-control {
    border: 2px solid #FFFFFF;
    top: 48%;
    opacity: 0.15;
    line-height: 21px;
    font-size: 30px;
    font-weight: bold;
    height: 30px;
    width: 30px;
    left: 5px;
    border-radius: 23px;
    background: none repeat scroll 0 0 #222222;
    padding-right: 1px;

    .glyphicon-chevron-left {
      margin-left: -17px;
      margin-top: -14px;
    }

    &.right {
      left: auto;
      right: 5px;
      padding-right: 0;
      padding-left: 2px;
    }

    // Hover/focus state
    &:hover,
    &:focus {
      opacity: 0.35;
    }

  }

}

#img_viewer_modal {

  .modal-dialog {
    width:98%;
    margin:10px auto;

    .modal-content {
      background-color: $light_gray;

      .modal-header {
        border-bottom: 0;
        padding: 3px 10px;
        text-align: left;
        height: 29px;
        overflow: hidden;

        .modal-title {
          font-size: 16px;
          font-weight: bold;
          width: 95%;
        }

      }

      #img_viewer_osd {
        background-color: $viewer_bg;
        margin: 0 5px;
        padding: 0;
        border: 1px solid $dark_gray;

        /* OSd navigator */
        .openseadragon-container > div.openseadragon-canvas + div + div {
          right: 3px !important;
          top: 3px !important;
        }

        /* OSd controls */
        .openseadragon-container > div.openseadragon-canvas + div + div + div {
          right: 3px !important;
          padding: 1px 1px 0 !important;
          border-radius: 5px 5px 0 0;
          background: rgb(17, 17, 17) !important; /* fallback for browsers w/o RGBa support */
          background: rgba(17, 17, 17, 0.4) !important;
          filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66111111, endColorstr=#66111111); /* for IE 5.5-7 */
          -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#66111111, endColorstr=#66111111)"; /* for IE8 */
        }

      }

      .modal-footer {
        border-top: 0;
        padding: 2px;
      }

    }

  }

}

#thumbnail_wrapper {
  margin-bottom: 1em;
  float:right;

  #thumb_img_show_container {
    text-align: center;
    background-color: $lighter_gray;
    border: 1px solid $well_border_color;
    border-radius: 4px;
    @include box-shadow(0 1px 1px rgba(0, 0, 0, 0.05) inset);
    padding: 5px;

    .thumb_img_show {
      border: 1px solid $light_gray;
      max-width:100%;
      max-height: 300px;
    }

  }

  #oai_item_link {

    a {
      font-weight: bold;
      color: #222;
    }

    a:hover {
      color: $bl_link;
      text-decoration: none;
    }

  }

  #book_viewer_link_wrap {
    bottom: 12px;
    position: absolute;
    right: 56px;
  }

  a.book_viewer_link {
    color: $lighter_gray;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.60);
    padding: 0px 5px;
  }

  #volumes_wrapper {
    margin: 10px 0 0;

    .panel-heading {
      font-weight: bold;
      padding: 10px;
    }

    .panel-body {
      padding: 10px 5px;

      .nav-list {

        li.volume_listing {
          margin-bottom: 10px;

          .volume_title {
            font-size: 16px;
            padding: 5px;
            background-color: #eeeeee;
            border-radius: 3px 3px 0 0;

            &.collapsed {
              background: none;

              &:hover {
                background-color: #eeeeee;
                border-radius: 3px;
              }

            }

          }

          .volume_details {
            background-color: #eeeeee;
            border-radius: 0 0 3px 3px;

            .read_volume_link_wrap {
              margin: 0 0 0 10px;
              padding-top: 10px;
            }

            .download_volume_links {
              margin: 10px 0 0 15px;
              padding-bottom: 10px;

              ul.volume_downloads {
                list-style-type: none;
                padding-left: 10px;

                li {
                  padding: 1px 0;
                }

              }

            }

          }

        }

      }

    }

  }

}

/* metadata */

#item_metadata {
  float: left;
  width:100%;
  padding: 0 0 1.5em 0;

  h3 {
    padding-left:1em;
  }

  dl.defList {
    width: 97%;

    dt {
      padding: 2px 0 0;
      width: 144px;
    }

    dd {
      padding: 2px 0 0;
      margin-bottom: 3px;
      margin-left: 164px;

      .metadata_breadcrumb {
        color: $dark_gray;
        padding: 0 2px;
      }

      .uri_metadata_link {
        word-wrap: break-word;
        -ms-word-break: break-all;
        word-break: break-word;
      }

    }
  }

}

/* download link styles */
li.download_list_item {
  font-size: 12px;

  a {
    padding: 10px 5px 0 0;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
  }

  .download_info {
    font-size: 10px;
    color: $dark_gray;
  }

}


#sidebar {

  /* downloads */
  #sidebar-downloads {

    .panel-heading {
      padding:10px;
      font-weight: bold;
    }

    .panel-body {
      padding:0 10px 10px 10px;
    }

  }

  div.show-tools {

    .panel-heading {
      padding:10px;
      font-weight: bold;
    }

    .panel-body {
      padding:10px;

      .addthis_toolbox {
        padding-bottom: .5em;
      }

      .glyphicon {
        padding-right: 3px;
      }

      #emailLink, #citeLink {
        padding: 10px 0 0;
      }

    }

  }

}


/* MODS view */

.mods_link_wrapper {
  float: right;
  margin: 1em 1em 0 0;

  a {
    color:$dark_gray;
  }

}

.mods_xml_display pre {
  margin: 10px;
  padding: 5px;
  word-break: normal;
  font-size: 12px;
  white-space: pre-wrap;
}

/* more like this / related items */

#more_like_this {
  float:left;

  #more_like_this_docs {

    .more_like_this_document {

      .thumbnail {
        border-radius: 0;
        padding:0;
        margin-bottom:0;
      }

      .mlt_title_link {
        position: absolute;
        top: 0;
        font-size: 12px;
        bottom: 0;
        width: 81%;
        padding: 5px;
        background: $dark_gray;
        visibility: hidden;
        color: #FFFFFF;
        opacity:0;
        transition: opacity 0.3s ease;

        &:hover {
          text-decoration: none;
        }

      }

      &:hover .mlt_title_link {
        visibility: visible;
        opacity:.9;
        -moz-opacity: 0.6;
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
      }

    }

  }

  #more_mlt_link_wrapper {
    float: right;
    margin-top: 7px;

    a {
      color:$dark_gray;
    }

  }

}

/* responsive styles */

/* Large desktop */
@media (min-width: 1200px) {

  #thumbnail_wrapper {

    #thumb_img_show_container {
      padding: 10px;
    }

    #book_viewer_link_wrap {
      bottom: 18px;
      right: 90px;
    }

  }

  #multi_img_show_container {

    #thumbnail_list_wrapper {

      #thumbnail_list {
        max-height: 800px;
      }

    }

  }

  #img_show_container {

    img.img_show {
      max-height: 800px;
    }

  }

  #more_like_this {

    #more_like_this_docs {

      .more_like_this_document {

        .mlt_title_link {
          width: 84%;
        }

      }

    }

  }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 991px) {

  #multi_img_show_container {

    #thumbnail_list_wrapper {

      #thumbnail_list {
        max-height: 400px;
      }

    }

  }

  #thumbnail_wrapper {

    #book_viewer_link_wrap {
      right: 28px;
    }

  }

  #img_show_container {

    img.img_show {
      max-height: 400px;
    }

  }

  #more_like_this {

    #more_like_this_docs {

      .more_like_this_document {

        .mlt_title_link {
          width: 75%;
        }

      }

    }

  }

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

  #flagged_warning {

    h3 {
      font-size: 20px;
    }

    .modal-dialog {
      margin: 90px auto;

      .modal-body {
        font-size:16px;
        padding: 20px 20px;
      }

    }

  }

  #multi_img_pane, #thumb_img_show_container, .blacklight-catalog-show #sidebar {
    float:left;
  }

  #multi_img_pane {
    width: 100%;
  }

  #img_show_container {
    min-height: 300px;
  }

  #multi_img_show_container {

    #thumbnail_list_wrapper {
      display: none;
    }

  }

  #thumbnail_wrapper {
    float: left;

    #thumb_img_show_container {
      text-align: left;
      background-color: unset;
      border: none;
      border-radius: 0;
      @include box-shadow(none);
      padding:0;
      width: 100%;
    }

    #book_viewer_link_wrap {
        right: 28px;
    }

    #volumes_wrapper {
      float: left;
    }

  }

  #img_viewer_modal {

    .modal-dialog {

      .modal-content {

        .modal-header {

          .modal-title {
            font-size: 14px;
            font-weight: normal;
          }

        }

      }

    }

  }

  #item_metadata {
    float: left;
    width:100%;
    padding: 0 0 1.5em 0;

    h3 {
      padding-left:10px;
    }

    dl.defList {
      width: 97%;
      padding-left:10px;

      dd {
        margin-left: 0;
      }

    }

  }

  #more_like_this {
    width:100%;

    #more_like_this_docs {

      .more_like_this_document {
        float: left;
        margin-bottom: 10px;

        .mlt_title_link {
          width: 91%;
        }

      }

    }

  }

}

/* Landscape phones and down */
@media (max-width: 480px) {

  #img_show_container {
    min-height: 200px;
  }

  #previousNextDocument, .pagination-search-widgets {
    font-size:12px;

    .page_links {
      float: left;
    }

    .search-widgets {
      float: left !important;

      a {
        font-size:12px;
        padding: 5px 10px;
      }

    }

  }

  #more_like_this {

    #more_like_this_docs {

      .more_like_this_document {
        width:50%;

        .mlt_title_link {
          width: 84%;
        }

      }

    }

  }

}
