<div id="img_show_container">
  <div id="img_show_canvas">
    <%= video_tag(datastream_disseminator_url(video_pid, 'accessMaster'),
                  controls: true,
                  poster: thumbnail_url(document)) %>
  </div>
</div>
