<div id="audio_show_container">
  <div id="audio_show_canvas">
    <h5 id="audio_title">
      <%= (audio_files.length > 1 ? '1. ' : '') + audio_files.first['filename_base_ssi'] %>
    </h5>
    <%= audio_tag(filestream_disseminator_url(audio_files.first['storage_key_base_ss'], 'audio_access'),
                  class: 'audio_show',
                  id: 'audio_player',
                  controls: true,
                  controlsList: 'nodownload') %>
    <% if audio_files.length > 1 %>
      <ol id="audio_playlist">
        <% audio_files.each_with_index do |audio_file, index| %>
          <%= content_tag(:li,
                          link_to("#{index + 1}. #{audio_file['filename_base_ssi']}",
                                  filestream_disseminator_url(audio_file['storage_key_base_ss'], 'audio_access')),
                          class: 'playlist_item' + (index == 0 ? ' active' : '')) %>
        <% end %>
      </ol>
    <% end %>
  </div>
</div>
<%= javascript_include_tag 'commonwealth-vlr-engine/audio_player_playlist' %>
