<div class="modal fade" id="flagged_warning" tabindex="-1" role="dialog" aria-labelledby="flaggedWarning">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">EXPLICIT CONTENT WARNING</h3>
        <button type="button" class="blacklight-modal-close close" data-dismiss="modal" aria-label="<%= t('blacklight.modal.close') %>">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="flagged_warning_text" class="modal-body">
        <%= render partial: 'catalog/_show_partials/show_flagged_modal_text' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">View Content</button>
        <% if current_search_session %>
            <%= link_back_to_catalog(class: 'btn btn-danger') %>
        <% else %>
            <%= link_to t('blacklight.back_to_search'), search_catalog_path, class: 'btn btn-danger' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  // fire the warning modal and make the backdrop very dark
  $('#flagged_warning').modal();
  $(".modal-backdrop").css("opacity",".95");
</script>
