<%# show the previous and next links as carousel controls for multi-img objects %>
<% if page_sequence[:prev] %>
  <%= link_to(image_viewer_path(@document.id, view: page_sequence[:prev]),
              class: 'carousel-control-prev',
              id: 'carousel-control_prev',
              title: t('blacklight.images.prev'),
              data:{ viewer: page_sequence[:prev] },
              remote: true) do %>
    <%= icon('fas', 'chevron-left', class: 'carousel-control-icon prev_icon rounded-circle',
             aria: { hidden: true }) %>
    <span class="sr-only">Previous</span>
  <% end %>
<% end %>
<% if page_sequence[:next] %>
  <%= link_to(image_viewer_path(@document.id, view: page_sequence[:next]),
              class: 'carousel-control-next',
              id: 'carousel-control_next',
              title: t('blacklight.images.next'),
              data: { viewer: page_sequence[:next] },
              remote: true) do %>
    <%= icon('fas', 'chevron-right', class: 'carousel-control-icon next_icon rounded-circle',
             aria: { hidden: true }) %>
    <span class="sr-only">Next</span>
  <% end %>
<% end %>