<%= link_to(img,
            book_viewer_path(document.id),
            :title => t('blacklight.book_viewer.link_to_reader'),
            :rel => 'nofollow') %>

<div id="book_viewer_link_wrap">
  <%= link_to(book_viewer_path(document.id),
              :class => 'book_viewer_link btn',
              :rel => 'nofollow') do %>
      <i class="fa fa-book"></i> <%= t('blacklight.book_viewer.link_to_reader') %>
  <% end %>
</div>
</div>