<div class="flash_messages">
  <div class="alert alert-info">
    This is an important announcement about this site! <a href="#" class="alert-link">This is a link</a>.
    <a class="btn-close" data-dismiss="alert" href="#"></a>
  </div>
</div>