<div class="flash_messages">
  <div class="alert alert-warning">
    This site is currently undergoing maintenance and some features may be unavailable. We apologize for the inconvenience.
    <a class="close" data-dismiss="alert" href="#">&times;</a>
  </div>
</div>