<div id="footer" class="container">
  <div class="row">
    <div id="footer_logo" class="col-sm-3 hidden-xs">
      <%= image_tag('dc-logo_notag_xsm_bw.png', :alt => application_name, :class => 'footer-logo')  %>
    </div>
    <div id="footer_address" class="col-sm-9">
      <!--
      <ul id="footer_nav_links" class="list-inline">
        <%# render :partial=>'shared/nav_links' %>
      </ul>
      -->
      <strong>Digital Commonwealth, Inc.</strong><br />
      321 Walnut Street &nbsp; Newton, MA 02460<br />
      <%= link_to t('blacklight.pages.contact.title'), feedback_path %>
    </div>
  </div>
</div>

<%= debug(params) if Rails.env.development? %>