<div id="header-navbar" class="navbar" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button id="nav_collapse_button" type="button" class="navbar-toggle btn collapsed" data-toggle="collapse" data-target="#user-util-collapse">
          <span class="glyphicon glyphicon-search"></span>
          <div id="icon-bar-wrapper">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </div>
        </button>

      <%= link_to application_name,
                  root_path,
                  :id => 'header_logo_link',
                  :class => 'navbar-brand' %>

      <div class="collapse navbar-collapse" id="user-util-collapse">

        <%= render :partial=>'shared/user_util_links' %>

        <div id="header_main_nav" class="navbar">
          <ul class="nav">
            <%= render :partial=>'shared/nav_links' %>
          </ul>
        </div>

      </div>


    </div>
  </div>
</div>