<%# creates a 'dimming' or mask effect on the modal, with a loading gif in the center %>
<div id="modal-transition">
  <%= image_tag 'commonwealth-vlr-engine/loading.gif',
                id: 'modal-transition-loading',
                alt: 'Loading...' %>
</div>