<div id="audio_show_container">
  <div id="audio_show_canvas">
    <h5 id="audio_title">
      <%= audio_title %>
    </h5>
    <%= audio_tag(helpers.filestream_disseminator_url(audio_files.first['storage_key_base_ss'], 'audio_access'),
                  class: 'audio_show',
                  id: 'audio_player',
                  controls: true,
                  controlsList: 'nodownload') %>
    <% if audio_files.length > 1 %>
      <%# playlist functionality via 'commonwealth-vlr-engine/audio_player_playlist.js' %>
      <ol id="audio_playlist">
        <% audio_files.each_with_index do |audio_file, index| %>
          <%= content_tag(:li,
                          link_to("#{index + 1}. #{audio_file['filename_base_ssi']}",
                                  helpers.filestream_disseminator_url(audio_file['storage_key_base_ss'], 'audio_access')),
                          class: 'playlist_item' + (index == 0 ? ' active' : '')) %>
        <% end %>
      </ol>
    <% end %>
  </div>
</div>
