---
http_interactions:
- request:
    method: get
    uri: https://iiif-dc3dev.bpl.org/iiif/2/bpl-dev:tq57p0847/info.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"@context":"http://iiif.io/api/image/2/context.json","@id":"https://iiif-dc3dev.bpl.org/iiif/2/bpl-dev:tq57p0847","protocol":"http://iiif.io/api/image","width":6750,"height":9885,"sizes":[{"width":105,"height":154},{"width":211,"height":309},{"width":422,"height":618},{"width":844,"height":1236},{"width":1688,"height":2471},{"width":3375,"height":4943},{"width":6750,"height":9885}],"tiles":[{"width":1024,"height":1024,"scaleFactors":[1,2,4,8,16,32,64]}],"profile":["http://iiif.io/api/image/2/level2.json",{"formats":["tif","jpg","gif","png"],"qualities":["bitonal","default","gray","color"],"supports":["regionByPx","sizeByW","sizeByWhListed","cors","regionSquare","sizeByDistortedWh","canonicalLinkHeader","sizeByConfinedWh","sizeByPct","jsonldMediaType","regionByPct","rotationArbitrary","sizeByH","baseUriRedirect","rotationBy90s","profileLinkHeader","sizeByForcedWh","sizeByWh","mirroring"]}]}'
  recorded_at: Fri, 03 Oct 2025 19:07:17 GMT
recorded_with: VCR 6.3.1
