<% @page_title = t('blacklight.home.context.about.title') + " - " + application_name %>
<div class="col-sm-9 about_content">
  <h2><%= t('blacklight.home.context.about.title') %></h2>

  <p>Your content goes here.</p>
</div>