<div id="help" class="">
  <div>
    <div>
      <div>
        <h2>
          How to use this reader
        </h2>
        <p>
          <i class="fa fa-book"></i> <strong>Read</strong>: flip through the pages of the item<br/>
          <i class="fa fa-search-plus"></i> <strong>Zoom</strong>: view a page in greater detail<br/>
          <i class="fa fa-th-large"></i> <strong>Page List</strong>: view a list of pages for easy navigation
        </p>
        <section class="keyboard-controls">
          <h3>
            Keyboard Navigation
          </h3>
          <table>
            <tr>
              <th>
                Go to next page
              </th>
              <td>
                <kbd>Page Down</kbd>, <kbd>spacebar</kbd>, <kbd>j</kbd>
              </td>
            </tr>
            <tr>
              <th>
                Go to previous page
              </th>
              <td>
                <kbd>Page Up</kbd>, <kbd>shift+spacebar</kbd>, <kbd>k</kbd>
              </td>
            </tr>
            <tr class="requires-rotation">
              <th>Rotate Left</th>
              <td>
                <kbd>alt+left arrow</kbd>
              </td>
            </tr>
            <tr class="requires-rotation">
              <th>Rotate Right</th>
              <td>
                <kbd>alt+right arrow</kbd>
              </td>
            </tr>
            <tr>
              <th>
                Switch to page list view
              </th>
              <td>
                <kbd>p</kbd>
              </td>
            </tr>
            <tr class="requires-fullscreen">
              <th>
                Enter fullscreen mode
              </th>
              <td>
                <kbd>f</kbd>
              </td>
            </tr>
            <tr>
              <th>
                Display help
              </th>
              <td>
                <kbd>?</kbd>
              </td>
            </tr>
          </table>
        </section>
        <section class="touch-controls">
          <h3>
            Touch Controls
          </h3>
          <table>
            <tr>
              <th>
                Go to next page
              </th>
              <td>
                Swipe across screen to the right, or<br>
                Tap on right edge of screen
              </td>
            </tr>
            <tr>
              <th>
                Go to previous page
              </th>
              <td>
                Swipe across screen to the left, or<br>
                Tap on left edge of screen
              </td>
            </tr>
            <tr>
              <th>
                Switch to grid view
              </th>
              <td>
                Tap "Page List" <i class="fa fa-th-large"></i>
              </td>
            </tr>
            <tr>
              <th>
                Zoom in on a page
              </th>
              <td>
                Tap "Zoom" <i class="fa fa-search-plus"></i>
              </td>
            </tr>
          </table>
        </section>
      </div>
    </div>
  </div>
</div>