<main id="uv-wrapper">
  <div id="uv" class="uv"></div>

  <script>
      document.addEventListener("DOMContentLoaded", function() {
          var urlAdapter = new UV.IIIFURLAdapter(true);

          const data = urlAdapter.getInitialData({
              manifest: '<%= iiif_manifest_path(@document.id) %>',
              embedded: true,
              highlight: urlAdapter.get('h',''),
          });

          uv = UV.init("uv", data);

          urlAdapter.bindTo(uv);

          const configUrl = urlAdapter.get('config');
          if (configUrl) {
              uv.on("configure", function({ config, cb }) {
                  cb(
                      new Promise(function (resolve) {
                          fetch(configUrl).then(function (response) {
                              resolve(response.json());
                          });
                      })
                  );
              })
          }
      });
  </script>
</main>
