/* styles for facets */

@import 'cmmnwlth_defaults';

#facets {

  div.top-panel-heading {
    background-color: #F5F5F5;
    padding: 10px 15px 0px;
    border: 1px solid $facets_border;

    h4 {
      margin-top: 0px;
    }

  }

  h5 {
    font-size: 14px;
  }

  .panel {
    border-radius: 0;
    margin-bottom: 0;
    margin-top:0;
    border-top:none;

    &:last-child {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    .panel-body {
      border-top: none;
      padding: 5px 15px;
    }

  }

  li {
    font-size: 13px;
    line-height:15px;
    padding-bottom: .5em;
  }

  .facet-values .facet-label {
    word-break: normal;
  }

  /* advanced search results facets */
  .advanced_facet_limit ul {
    border-bottom: medium none;
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 4px;
  }

  .facet_limit .inclusive_or h4 {
    margin-bottom: 0;
    margin-left: 3px;
    font-size: 12px;
  }

}

/* responsive styles */

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 991px) {

  #facets {

    div.top-panel-heading {
      margin-bottom: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    /* so facets don't overflow container div */
    .facet-values .facet-label {
      padding-left: 5px;
      padding-right: 2px;
      text-indent: -5px;
      max-width: 105px;
    }

  }

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

  #sidebar, #facets {
    padding-bottom: 0;
  }

  #facets {

    div.top-panel-heading {
      padding: 2px 15px;
      margin-bottom: 3px;

      h4 {
        margin-top: 10px;
      }

    }

  }

}

