<% @page_title = t('blacklight.advanced_search.title', application_name: application_name) %>

<div id="content" class="col-sm-12 basic-search">
  <h1><%= t('blacklight.advanced_search.page_title') %></h1>

  <ul id="search_mode_tabs" class="nav nav-tabs">
    <li class="nav-item"><a href="#" class="nav-link active"><%= t('blacklight.search.nav.basic') %></a></li>
    <li class="nav-item">
      <%= link_to t('blacklight.search.nav.advanced'),
                  blacklight_advanced_search_engine.advanced_search_path,
                  class: 'nav-link' %>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="basic_search">
      <div id="basic_search_wrapper">
        <%= render Blacklight::SearchBarComponent.new(
          url: search_action_url,
          advanced_search_url: blacklight_advanced_search_engine.advanced_search_url,
          params: search_state.params_for_search.except(:qt),
          autocomplete_path: suggest_index_catalog_path) %>
      </div>
    </div>
  </div>
</div>
