<% @page_title = t('blacklight.advanced_search.title', application_name: application_name) %>

<div id="content" class="col-sm-12 basic-search">
  <h1><%= t('blacklight.advanced_search.page_title') %></h1>

  <ul id="search_mode_tabs" class="nav nav-tabs">
    <li class="nav-item"><a href="#" class="nav-link active">Basic</a></li>
    <li class="nav-item">
      <%= link_to 'Advanced',
                  blacklight_advanced_search_engine.advanced_search_path,
                  class: 'nav-link' %>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="basic_search">
      <div class="row">
        <div class="col-lg-8">
          <div id="basic_search_form">
            <%= render_search_bar %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag 'commonwealth-vlr-engine/basic_search' %>