<% # container for series facet -%>
<h4><%= t('blacklight.collections.series.title') %></h4>
<%= render_facet_partials(['related_item_series_ssi'],
                          :partial => 'facet_limit_series') %>