<% # container for series facet -%>
<h4><%= t('blacklight.collections.series.title') %></h4>
<%= render_facet_partials([blacklight_config.series_field], response: @response,
                          partial: 'facet_limit_series') %>