<%# collection catalog#index list view %>

<div class="collection_view_all_link">
  <% if document[blacklight_config.institution_field.to_sym] %>
      <%= link_to_all_col_items(document[blacklight_config.index.title_field.to_sym],
                                t('blacklight.home.browse.institutions.enabled') ? document[blacklight_config.institution_field.to_sym] : nil,
                                'view-all-col') %>
  <% end %>
</div>

<div class="collection_index_container">

      <div class="collection-location">
        <% if document[:institution_ark_id_ssi] && document[blacklight_config.institution_field.to_sym] && t('blacklight.home.browse.institutions.enabled') %>
            <%= link_to(document[blacklight_config.institution_field.to_sym],
                        institution_path(document[:institution_ark_id_ssi])) %>
        <% end %>
      </div>

      <div class="item_index_details">
        <% if document[:abstract_tsi] %>
            <%= truncate(sanitize(document[:abstract_tsi].gsub(/<\/p><p>/,' '), :tags => []),
                         :length => 300,
                         :separator => ' ',
                         :omission => '... ') do
              link_to('more',
                      collection_path(:id => document[:id]),
                      :class => 'read-more-link')
            end %>
        <% end %>
      </div>

</div>