<!-- <h2><%# t 'blacklight.search.zero_results.title' %></h2> -->
<div id="documents" class="noresults">
  <!-- <h3><%# t 'blacklight.search.zero_results.modify_search' %></h3> -->
  <h4>Search Tips</h4>

  <ul id="search_tips_list">
    <li><%= t 'blacklight.search.zero_results.use_fewer_keywords' %></li>

    <%- if params[:q] and params[:search_field] and params[:search_field] != blacklight_config.default_search_field.try(:key) -%>
        <li><%= t 'blacklight.search.zero_results.search_fields', :search_fields => search_field_label(params) %> --
          <%= link_to t('blacklight.search.zero_results.search_everything',
                        field: blacklight_config.default_search_field.label),
                      url_for(params_for_search(:search_field=>blacklight_config.default_search_field.key)) %>
        </li>
    <%- end %>

    <li>If you're still having trouble finding what you're looking for, <%= link_to 'contact us', feedback_path %> and we'll try and help.</li>

  </ul>
</div>