<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 class="modal-title"><%= t('blacklight.tools.librarian_view.title') %></h3>
</div>
<div class="mods_xml_display">
    <%= content_tag(:pre, render_mods_xml_record(@document[:id])) %>
</div>