<%= render Blacklight::System::ModalComponent.new do |component| %>
  <% component.with_title { t('blacklight.tools.librarian_view.title') } %>

  <div id="mods_xml_display">
    <%= content_tag(:pre, render_mods_xml_record(@document)) %>
  </div>
<% end %>
