<% if show_explicit_warning?(@document) %>
  <%= render partial: 'catalog/_show_partials/show_flagged_modal' %>
<% end %>

<% if show_content_warning?(@document) %>
  <%= render partial: 'catalog/_show_partials/show_flagged_warning',
             locals: { document: @document } %>
<% end %>

<div id="content" class="<%= show_content_classes %>">
  <%= render_document_main_content_partial %>
</div>






