<% if @document[blacklight_config.flagged_field.to_sym] %>
    <%= render :partial => 'catalog/_show_partials/show_flagged_notice' %>
<% end %>

<div id="content" class="<%= show_content_classes %>">
  <%= render_document_main_content_partial %>
</div>






