/* fixes for IE8 */

/* can't use fixed navbar or dropdown menus won't work */
body.blacklight-institutions-index, body.blacklight-collections-index, body.blacklight-catalog-index {

  #header-navbar {
    position: relative;
    z-index: inherit;
  }

  #main-container {
    padding-top: 10px;
  }

}

/* helps dropdowns not be so wonky */
#main-container {
  padding-top: 10px;
}
