---
http_interactions:
- request:
    method: get
    uri: https://iiif-dc3dev.bpl.org/iiif/2/bpl-dev:h702q642n/info.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"@context":"http://iiif.io/api/image/2/context.json","@id":"https://iiif-dc3dev.bpl.org/iiif/2/bpl-dev:h702q642n","protocol":"http://iiif.io/api/image","width":1508,"height":2440,"sizes":[{"width":94,"height":153},{"width":189,"height":305},{"width":377,"height":610},{"width":754,"height":1220},{"width":1508,"height":2440}],"tiles":[{"width":1024,"height":1024,"scaleFactors":[1,2,4,8,16]}],"profile":["http://iiif.io/api/image/2/level2.json",{"formats":["jpg","tif","gif","png"],"qualities":["bitonal","default","gray","color"],"supports":["regionByPx","sizeByW","sizeByWhListed","cors","regionSquare","sizeByDistortedWh","canonicalLinkHeader","sizeByConfinedWh","sizeByPct","jsonldMediaType","regionByPct","rotationArbitrary","sizeByH","baseUriRedirect","rotationBy90s","profileLinkHeader","sizeByForcedWh","sizeByWh","mirroring"]}]}'
  recorded_at: Fri, 17 Sep 2021 20:11:15 GMT
- request:
    method: get
    uri: https://iiif-dc3dev.bpl.org/iiif/2/bpl-dev:h702q642n/info.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
        - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"@context":"http://iiif.io/api/image/2/context.json","@id":"https://iiif-dc3dev.bpl.org/iiif/2/bpl-dev:h702q642n","protocol":"http://iiif.io/api/image","width":1508,"height":2440,"sizes":[{"width":94,"height":153},{"width":189,"height":305},{"width":377,"height":610},{"width":754,"height":1220},{"width":1508,"height":2440}],"tiles":[{"width":1024,"height":1024,"scaleFactors":[1,2,4,8,16]}],"profile":["http://iiif.io/api/image/2/level2.json",{"formats":["jpg","tif","gif","png"],"qualities":["bitonal","default","gray","color"],"supports":["regionByPx","sizeByW","sizeByWhListed","cors","regionSquare","sizeByDistortedWh","canonicalLinkHeader","sizeByConfinedWh","sizeByPct","jsonldMediaType","regionByPct","rotationArbitrary","sizeByH","baseUriRedirect","rotationBy90s","profileLinkHeader","sizeByForcedWh","sizeByWh","mirroring"]}]}'
  recorded_at: Fri, 17 Sep 2021 20:11:15 GMT
recorded_with: VCR 6.0.0
