/* fixes for IE8 */

/* can't use fixed navbar or dropdown menus won't work */
body.blacklight-institutions-index #header-navbar, body.blacklight-collections-index #header-navbar, body.blacklight-catalog-index #header-navbar {
    position: relative;
    z-index: inherit;
}

body.blacklight-institutions-index #main-containe, body.blacklight-collections-index #main-containe, body.blacklight-catalog-index #main-container {
    padding-top: 10px;
}

/* helps dropdowns not be so wonky */
#main-container {
    padding-top: 10px;
}