<p>Hello <%= @resource.email %>!</p>

<p>We recently received a request to change your password. Click the link below to get started:</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>If you did not request a password change, then please ignore this email.</p>
<p>(Your password won't be changed until you click the link above and create a new one.)</p>
<p>If you have any questions, please <%= link_to t('blacklight.pages.contact.title'),  'https://www.digitalcommonwealth.org' + feedback_path %>.</p>
<p>Thanks,<br/>
Digital Commonwealth<br/>
  <%= link_to 'https://www.digitalcommonwealth.org/', 'https://www.digitalcommonwealth.org/' %>
</p>
