<div id="featured_items">
  <h4><%= I18n.t("blacklight.#{context}.featured") %></h4>
  <%# below based on blacklight-gallery/app/views/catalog/_document_masonry.html.erb %>
  <div id="documents_featured" class="documents-masonry">
    <%= render view_config.document_component.with_collection(featured_documents_presenters) %>
  </div>
</div>
