# stores location of static file with GeoJSON FeatureCollection for catalog#map
# Rails.root.to_s + '/' must be appended by methods calling this value (makes specs easier)

default: &default
  filepath: <%= ENV.fetch('GEOJSON_PATH', '') %>

development:
  <<: *default

test:
  <<: *default

production:
  <<: *default