<div class="col-sm-9" id="contact_content">
  <h2><%= t('blacklight.feedback.title') %></h2>

  <h4><%= t('blacklight.feedback.complete.title') %></h4>

  <ul>
    <li><%= link_to t('blacklight.back_to_search'), catalog_index_path %></li>
  </ul>
</div>