<div class="col-sm-9" id="contact_content">
  <h1><%= t('blacklight.feedback.title') %></h1>

  <h4><%= t('blacklight.feedback.complete.title') %></h4>

  <ul>
    <li><%= link_to t('blacklight.back_to_search'), search_catalog_path %></li>
  </ul>
</div>