---
http_interactions:
- request:
    method: get
    uri: https://iiif-dc3dev.bpl.org/iiif/2/bpl-dev:vx0224404/info.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"@context":"http://iiif.io/api/image/2/context.json","@id":"https://iiif-dc3dev.bpl.org/iiif/2/bpl-dev:vx0224404","protocol":"http://iiif.io/api/image","width":10259,"height":7208,"sizes":[{"width":160,"height":113},{"width":321,"height":225},{"width":641,"height":451},{"width":1282,"height":901},{"width":2565,"height":1802},{"width":5130,"height":3604},{"width":10259,"height":7208}],"tiles":[{"width":1024,"height":1024,"scaleFactors":[1,2,4,8,16,32,64]}],"profile":["http://iiif.io/api/image/2/level2.json",{"formats":["tif","jpg","gif","png"],"qualities":["bitonal","default","gray","color"],"supports":["regionByPx","sizeByW","sizeByWhListed","cors","regionSquare","sizeByDistortedWh","canonicalLinkHeader","sizeByConfinedWh","sizeByPct","jsonldMediaType","regionByPct","rotationArbitrary","sizeByH","baseUriRedirect","rotationBy90s","profileLinkHeader","sizeByForcedWh","sizeByWh","mirroring"]}]}'
  recorded_at: Fri, 03 Oct 2025 18:44:40 GMT
recorded_with: VCR 6.3.1
